<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="RabbitHostName" value="$(RabbitHostName)"/>
		<add key="RabbitUserName" value="$(RabbitUserName)"/>
		<add key="RabbitPassword" value="$(RabbitPassword)"/>
		<add key="RabbitExchange" value="$(RabbitExchange)"/>
    		<add key="CaseStatusQueueName" value=""/>
		<add key="HandlerQueueName" value=""/>
		<add key="ServiceName" value=""/>
		<add key="BlaiseServerUserName" value=""/>
		<add key="BlaiseServerPassword" value=""/>
		<add key="BlaiseServerHostNameLocal" value=""/>
    		<add key="BlaiseServerUserNameLocal" value=""/>
    		<add key="BlaiseServerPasswordLocal" value=""/>
	</appSettings>
</configuration>
